.about_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  // min-height: 100dvh;
  scroll-behavior: smooth;
  transition: all 300ms ease-in-out;
}

.dark {
  // color: #d6d3d1;
  color: #3b945e;
  background-color: #65ccb8;
  transition: all 300ms ease-in-out;
}
.light {
  background-color: #3b945e;
  color: #65ccb8;
}

h1.about {
  text-align: center;
  padding: 2rem;
  position: relative;
  display: grid;
}
.important_words {
  font-weight: 900;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  font-style: italic;
}

.description {
  font-size: clamp(1rem, 2vw, 1.5rem);
  letter-spacing: 0.1rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-weight: 900;
  transform: translateY(-400px);
  opacity: 0;
  //
  p {
    padding: 1rem;
  }
}
// //all of these are the style for the buble effect
.container {
  padding: 4rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  .img {
    height: 400px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    transform: translateX(-450px);
    //
  }
}
.img_animation {
  animation: moveImg 1.2s ease-in-out forwards;
}
.container_animation {
  animation: move_container 1.2s ease-in-out forwards;
}
@keyframes moveImg {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}
@keyframes move_container {
  0% {
    opacity: 0;
    transform: translateY(100%);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

@media only screen and (max-width: 750px) {
  .img {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  .container {
    padding: 0;
  }
}
@media only screen and (max-width: 950px) {
  .description {
    transform: translateY(-200px);
  }
}
