.contact_section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  width: 100vw;
}

//

.light {
  color: #bee;
  background-color: #052142;
  transition: all 300ms ease-in-out;
}
.dark {
  background-color: #bee;
  color: #052142;
  transition: all 300ms ease-in-out;
}
.main_container {
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
  font-family: 'Rubik', sans-serif;
  transition: all 0.5s ease;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
  min-height: 92vh;
  font-size: clamp(2.5rem, 1vw, 1.5rem);
  letter-spacing: 0.1rem;
  overflow: hidden;
}

.text_container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: 1/1/2/2;
  animation-name: showText;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0.98, 0.34, 0.26, 1.23);
}
.find_here {
  text-align: center;
}
.hello {
  font-size: clamp(4rem, 4vw + 2px, 5rem);
}
.paragraph {
  font-size: clamp(2rem, 0.5vw, 1rem);
  text-align: left;
}
.form {
  //this is the code for shake

  .input-shake {
    animation: shake 0.4s;
  }

  @keyframes shake {
    10%,
    90% {
      transform: translateX(-10px);
    }

    20%,
    80% {
      transform: translateX(10px);
    }

    30%,
    50%,
    70% {
      transform: translateX(-10px);
    }

    40%,
    60% {
      transform: translateX(10px);
    }
  }

  //
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: calc(5px + 0.6vw);
  animation-name: showForm;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0.98, 0.34, 0.26, 1.23);

  input,
  textarea {
    font-family: 'Rubik', sans-serif;
    padding-left: 0.7rem;
    width: 70%;
    padding: 1rem;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: none;

    transition: all 0.5s ease;
    font-size: clamp(0.9rem, 0.8vw + 2px, 2rem);
    letter-spacing: 0.06rem;

    &::placeholder {
      transition: all 0.5s ease;
    }
    &:focus {
      outline: none;
    }
  }

  .button {
    font-size: clamp(1rem, 1vw, 1.5rem);
    border: 2px solid white;
    border-radius: 5px;
    outline: none;

    transition: all 0.5s ease;
    padding: 12px 25px;
    position: relative;
    transform: translateZ(0);
    font-weight: 900;
    cursor: pointer;
  }

  input.input_error {
    background-color: #fc8181;
  }
}
.form {
  .error {
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: #fc8181;
    font-weight: 900;
    margin: -0.5rem;
  }
  .button:disabled {
    opacity: 0.35;
  }
}
.image_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  img {
    width: 40px;
    height: 40px;
    transition: all 500ms ease-in-out;
    &:hover {
      scale: 1.1;
    }
  }
}

@keyframes showText {
  0% {
    opacity: 0;
    transform: translate(-300px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@keyframes showForm {
  0% {
    opacity: 0;
    transform: translate(300px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@media only screen and (max-width: 500px) {
  .hello {
    text-align: center;
  }
  .form {
    .button {
      width: 40%;
      padding: 6px 12px;
    }
  }
}
@media (max-width: 768px) {
  .text_container {
    grid-area: 1/1/2/3;
    gap: 1.2rem;
    padding: 2rem;
  }
  .form {
    grid-area: 2/1/3/3;
  }
}
@media (max-width: 400px) {
  .text_container {
    .paragraph {
      text-align: center;
    }
  }
  .form {
    grid-area: 2/1/3/3;
  }
}
