.home_section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100dvh;
  width: 100vw;
  background-image: url(../public/code4.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero_text {
  margin: auto;
  font-size: clamp(1.4rem, 2vw, 3rem);
}
.text {
  font-size: clamp(2.5rem, 1vw, 1.5rem);
  margin-bottom: 20px;
}
.home_intro {
  transition: all 300ms ease-in-out;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: clamp(2.5rem, 1vw, 1.5rem);
  letter-spacing: 0.1rem;
  overflow-y: hidden;
  h2 {
    opacity: 0;
  }
}
.text_social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.social_img {
  border-radius: 50%;
}

//light and dark theme
.light {
  color: #bee;
  background-color: #052142;
  // transition: all 300ms ease-in-out;
}
.dark {
  background-color: #bee;
  color: #052142;
  // transition: all 300ms ease-in-out;
}

.text_social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.social_img {
  border-radius: 50%;
}

.social_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  margin: 0.5rem 0;

  //
}
.span {
  display: flex;
  gap: 0.4rem;
}
.button_social_container {
  animation: moveUp 700ms ease-in-out 7s forwards;
  opacity: 0;
}
.home_intro :nth-child(1) {
  animation: moveLeft 300ms ease-in-out forwards;
}
.home_intro :nth-child(2) {
  animation: moveLeft 1s ease-in-out 2s forwards;
}
.home_intro :nth-child(3) {
  animation: moveLeft 2s ease-in-out 4s forwards;
}
.teo_img {
  animation: moveRight 2s ease-in-out forwards;
  border-radius: 50%;
}
.button {
  font-size: 16px;
  font-size: clamp(1rem, 1vw, 1.5rem);
  border: 2px solid white;
  border-radius: 20px;
  outline: none;
  transition: all 300ms ease-in-out;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: 900;
  margin-bottom: 0.4rem;
}
//changing color of buttons
.button_dark {
  color: #052142;
  background-color: #bee;
  // transition: all 0.3s ease-in-out;
}
.button_light {
  background-color: #052142;
  // transition: all 0.3s ease-in-out;
  color: #bee;
}
//
@keyframes moveLeft {
  0% {
    filter: blur(5px) opacity(0);
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;

    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@media (max-width: 850px) {
  .main_container {
    font-size: clamp(1rem, 0.5vw, 0.5rem);
  }

  .teo_img {
    display: none;
  }
  .home_intro {
    width: 100vw;
    margin-left: 2rem;
  }
}
@media (max-width: 400px) {
  .home_intro {
    margin: 1rem;
  }
}
