.projects_section {
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
  font-family: 'Rubik', sans-serif;
  position: relative;
  letter-spacing: 0.1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 92vh;
  padding: 100px;
  // box-sizing: border-box;
  background: linear-gradient(180deg, #008aff, #ff137d);
  font-weight: 900;
}
.morfine {
  position: relative;
  width: 300px;
  height: 300px;
  .firstBlob {
    position: absolute;
    top: 0;
    animation: rotateRight 7000ms linear infinite;
  }
  .secondBlob {
    top: 0;
    position: absolute;
    animation: rotateLeft 7000ms linear infinite;
  }
  @media screen and (max-width: 400px) {
    width: 200px;
    height: 200px;
  }
  @keyframes rotateLeft {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotateRight {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
.gitIcon {
  position: relative;
  width: 350px;
  height: 350px;
  z-index: 200;
}
.text_content {
  text-align: center;
}
.content {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content h2 {
  margin: 2rem;
  text-align: center;
  font-size: 3em;
  color: #fff;
}
.content p {
  position: relative;
  font-size: clamp(1.5rem, 1.5vw, 2rem);

  margin: 2rem;
  color: #fff;
  z-index: 2;
  isolation: isolate;
}
.content a {
  position: relative;
  width: 100%;
  z-index: 9000;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
  display: block;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}
.gitIcon {
  transition: all 1000ms ease-in-out 0s;
  transform-origin: center;
  &:hover {
    transform: rotate(360deg) scale(1.06);
  }
}

@media screen and (max-width: 1100px) {
  .content {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .gitIcon {
    width: 200px;
    height: 200px;
  }
}
