.tools_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100dvh;
  gap: 2rem;
  font-family: 'Cormorant Garamond', serif;
  //
  background-image: url(../public/code3.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero_text {
  margin: auto;
  font-size: clapm(1.4rem, 2vw, 3rem);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  padding: 2rem;
  min-height: calc(80vh - 2rem);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(100%);
  animation-fill-mode: forwards;
  margin: 2rem 0;
  //
  h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    text-align: center;
    letter-spacing: 0.01rem;
  }
  p {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
  }
}
//

.container:nth-child(1) {
  animation-delay: 0ms;
  // background-color: rgb(26, 69, 126);
}

.container:nth-child(2) {
  animation-delay: 200ms;
  // background-color: rgb(109, 44, 55);
}

.container:nth-child(3) {
  animation-delay: 400ms;
  // background-color: rgb(78, 146, 65);
}
.light {
  color: #bee;
  background-color: #052142;
  transition: all 300ms ease-in-out;
}
.dark {
  background-color: #bee;
  color: #052142;
  transition: all 300ms ease-in-out;
}
//
.tool_img {
  width: 35px;
  height: 35px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 35px;
  height: 35px;
}
.container_animation {
  animation: move_container 800ms cubic-bezier(1, -0.02, 0.42, 1.44) forwards;
}

@keyframes move_container {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

@media only screen and (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    gap: calc(10% - 50px);
    width: 200px;
    // min-height: fit-content;
    h1 {
      font-size: clamp(1.4rem, 2.5vw, 3rem);
      text-align: center;
    }
    p {
      font-size: clamp(1.5rem, 2.5vw, 3rem);
    }
  }
}
